# Secrets & Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
!.env.example

# OS / IDE files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.cursorrules
.vscode/
.idea/

# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build & Cache files
.next/
out/
build/
dist/
*.tsbuildinfo
.npm
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Documentation
*.md
*.txt
docs/
doc/
documentation/

node_modules/

